body {
    background-color: rgb(127, 214, 255);
}

.login-form {
    width: 390px;
}

.login-titre {
    font-family: 'Exo', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}

.login-user {
    margin-bottom: 10px;
    margin-left: 110px;
}

.login-password {
    margin-bottom: 10px;
    margin-left: 110px;
}

.login-button {
    margin-top: 10px;
    margin-left: 150px;
}

.login-forgot {
    float: right;
}

#Note {
    margin-top: 10px;
    margin-left: 110px;
}

#Nom {
    margin-bottom: 10px;
    margin-left: 110px;
}

#boutonConnect {
    padding-top: 100px;
    padding-left: 650px;
}

h1 {
    padding-top: 100px;
    padding-left: 600px;
}

#demo {
    float: left;
}