@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);
body {
    padding-top: 300px;
    padding-left: 720px;
    background-color: rgb(127, 214, 255);
}

.login-form {
    width: 390px;
}

.login-titre {
    font-family: 'Exo', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}

.login-user {
    margin-bottom: 10px;
    margin-left: 110px;
}

.login-password {
    margin-bottom: 10px;
    margin-left: 110px;
}

.login-button {
    margin-top: 10px;
    margin-left: 150px;
}

.login-forgot {
    float: right;
}

#Note{
    margin-top: 10px;
    margin-left: 110px;
}

#Nom {
    margin-bottom: 10px;
    margin-left: 110px;
}