h2 {
  font-family: Calibri;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: underline
}

table {
  font-family: Calibri;
  color: rgb(0, 0, 0);
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  background-color: aquamarine;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0)
}